<a href="https://colab.research.google.com/github/dalves87/ANALISE_DADOS_PANDAS_DIO/blob/master/pythonparaanalise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importando a biblioteca pandas
import pandas as pd

In [2]:
df = pd.read_csv("/content/drive/MyDrive/datasets/Gapminder.csv",error_bad_lines=False,sep=";")

In [3]:
#visualizando as 5 primeiras linhas
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [4]:
df = df.rename(columns={"country":"pais","year":"ano","pop":"populacao","continent":"continente","lifeExp":"ExpectativaVida","gdpPercap":"PIB"})

In [5]:
#visualizando as 10 primeiras linhas
df.head(10)

          pais continente   ano  ExpectativaVida  populacao         PIB
0  Afghanistan       Asia  1952           28.801    8425333  779.445314
1  Afghanistan       Asia  1957           30.332    9240934  820.853030
2  Afghanistan       Asia  1962           31.997   10267083  853.100710
3  Afghanistan       Asia  1967           34.020   11537966  836.197138
4  Afghanistan       Asia  1972           36.088   13079460  739.981106
5  Afghanistan       Asia  1977           38.438   14880372  786.113360
6  Afghanistan       Asia  1982           39.854   12881816  978.011439
7  Afghanistan       Asia  1987           40.822   13867957  852.395945
8  Afghanistan       Asia  1992           41.674   16317921  649.341395
9  Afghanistan       Asia  1997           41.763   22227415  635.341351

In [6]:
#total de linhas e colunas
df.shape

(3312, 6)

In [7]:
#exibir as colunas
df.columns

Index(['pais', 'continente', 'ano', 'ExpectativaVida', 'populacao', 'PIB'], dtype='object')

In [8]:
#visualizar o tipo das colunas
df.dtypes

pais                object
continente          object
ano                  int64
ExpectativaVida    float64
populacao            int64
PIB                float64
dtype: object

In [9]:
#visualizar as 5 ultimas linhas
df.tail

<bound method NDFrame.tail of              pais continente   ano  ExpectativaVida  populacao         PIB
0     Afghanistan       Asia  1952           28.801    8425333  779.445314
1     Afghanistan       Asia  1957           30.332    9240934  820.853030
2     Afghanistan       Asia  1962           31.997   10267083  853.100710
3     Afghanistan       Asia  1967           34.020   11537966  836.197138
4     Afghanistan       Asia  1972           36.088   13079460  739.981106
...           ...        ...   ...              ...        ...         ...
3307     Zimbabwe     Africa  1987           62.351    9216418  706.157306
3308     Zimbabwe     Africa  1992           60.377   10704340  693.420786
3309     Zimbabwe     Africa  1997           46.809   11404948  792.449960
3310     Zimbabwe     Africa  2002           39.989   11926563  672.038623
3311     Zimbabwe     Africa  2007           43.487   12311143  469.709298

[3312 rows x 6 columns]>

In [10]:
#visualizar as 10 ultimas linhas
df.tail(10)

          pais continente   ano  ExpectativaVida  populacao         PIB
3302  Zimbabwe     Africa  1962           52.358    4277736  527.272182
3303  Zimbabwe     Africa  1967           53.995    4995432  569.795071
3304  Zimbabwe     Africa  1972           55.635    5861135  799.362176
3305  Zimbabwe     Africa  1977           57.674    6642107  685.587682
3306  Zimbabwe     Africa  1982           60.363    7636524  788.855041
3307  Zimbabwe     Africa  1987           62.351    9216418  706.157306
3308  Zimbabwe     Africa  1992           60.377   10704340  693.420786
3309  Zimbabwe     Africa  1997           46.809   11404948  792.449960
3310  Zimbabwe     Africa  2002           39.989   11926563  672.038623
3311  Zimbabwe     Africa  2007           43.487   12311143  469.709298

In [11]:
df.describe()

               ano  ExpectativaVida     populacao            PIB
count  3312.000000      3312.000000  3.312000e+03    3312.000000
mean   1980.301630        65.246871  3.161489e+07   11317.115805
std      16.927294        11.768412  1.041193e+08   11369.142739
min    1950.000000        23.599000  5.941200e+04     241.165877
25%    1967.000000        58.337500  2.678572e+06    2514.625266
50%    1982.000000        69.610000  7.557218e+06    7838.505123
75%    1996.000000        73.657750  1.958522e+07   17357.879170
max    2007.000000        82.670000  1.318683e+09  113523.132900

In [12]:
df["continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [13]:
americas = df.loc[df["continente"] == "Americas"]
americas.head(30)

          pais continente   ano  ExpectativaVida  populacao           PIB
48   Argentina   Americas  1952           62.485   17876956   5911.315053
49   Argentina   Americas  1957           64.399   19610538   6856.856212
50   Argentina   Americas  1962           65.142   21283783   7133.166023
51   Argentina   Americas  1967           65.634   22934225   8052.953021
52   Argentina   Americas  1972           67.065   24779799   9443.038526
53   Argentina   Americas  1977           68.481   26983828  10079.026740
54   Argentina   Americas  1982           69.942   29341374   8997.897412
55   Argentina   Americas  1987           70.774   31620918   9139.671389
56   Argentina   Americas  1992           71.868   33958947   9308.418710
57   Argentina   Americas  1997           73.275   36203463  10967.281950
58   Argentina   Americas  2002           74.340   38331121   8797.640716
59   Argentina   Americas  2007           75.320   40301927  12779.379640
339    Bolivia   Americas  1952           40.414    2883315   2677.326347
340    Bolivia   Americas  1957           41.890    3211738   2127.686326
341    Bolivia   Americas  1962           43.428    3593918   2180.972546
342    Bolivia   Americas  1967           45.032    4040665   2586.886053
343    Bolivia   Americas  1972           46.714    4565872   2980.331339
344    Bolivia   Americas  1977           50.023    5079716   3548.097832
345    Bolivia   Americas  1982           53.859    5642224   3156.510452
346    Bolivia   Americas  1987           57.251    6156369   2753.691490
347    Bolivia   Americas  1992           59.957    6893451   2961.699694
348    Bolivia   Americas  1997           62.050    7693188   3326.143191
349    Bolivia   Americas  2002           63.883    8445134   3413.262690
350    Bolivia   Americas  2007           65.554    9119152   3822.137084
375     Brazil   Americas  1952           50.917   56602560   2108.944355
376     Brazil   Americas  1957           53.285   65551171   2487.365989
377     Brazil   Americas  1962           55.665   76039390   3336.585802
378     Brazil   Americas  1967           57.632   88049823   3429.864357
379     Brazil   Americas  1972           59.504  100840058   4985.711467
380     Brazil   Americas  1977           61.489  114313951   6660.118654

In [14]:
americas["continente"].unique()

array(['Americas'], dtype=object)

In [15]:
americas["pais"].unique()

array(['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia',
       'Costa Rica', 'Cuba', 'Dominican Republic', 'Ecuador',
       'El Salvador', 'Guatemala', 'Guyana', 'Honduras', 'Jamaica',
       'Mexico', 'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Puerto Rico',
       'Suriname', 'Trinidad and Tobago', 'United States', 'Uruguay',
       'Venezuela'], dtype=object)

In [16]:
df.groupby("continente")["pais"].nunique()

continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: pais, dtype: int64

In [17]:
df.dtypes

pais                object
continente          object
ano                  int64
ExpectativaVida    float64
populacao            int64
PIB                float64
dtype: object

In [18]:
df.groupby("ano")["ExpectativaVida"].mean()

ano
1950    62.002568
1951    65.904167
1952    49.206867
1953    66.674563
1954    67.459817
1955    67.806757
1956    67.950637
1957    51.614590
1958    68.815936
1959    68.226579
1960    68.470837
1961    68.862480
1962    54.035234
1963    69.595735
1964    70.063105
1965    70.259881
1966    70.447526
1967    56.263629
1968    70.689081
1969    70.653896
1970    70.961141
1971    71.103976
1972    58.474481
1973    71.500338
1974    71.778504
1975    71.939218
1976    72.158050
1977    60.429090
1978    72.717567
1979    73.018717
1980    73.064524
1981    73.337399
1982    62.365871
1983    73.787778
1984    74.100741
1985    74.112222
1986    74.452222
1987    63.984860
1988    74.760000
1989    74.924444
1990    74.283437
1991    74.374848
1992    65.008443
1993    74.324545
1994    74.456667
1995    74.552727
1996    75.029394
1997    65.873799
1998    75.569697
1999    75.703636
2000    76.026364
2001    76.257879
2002    66.835695
2003    76.586667
2004    76.921563
2005    76.718667
2006    77.887778
2007    67.868557
Name: ExpectativaVida, dtype: float64

In [19]:
df["PIB"].mean()

11317.115804696637

In [20]:
df["PIB"].sum()

37482287.5451553

In [21]:
df["PIB"].min()

241.16587650000002

In [22]:
df["PIB"].max()

113523.1329

# Nova seo

# Nova seo